body{
    background-color: rgb(47, 131, 206);
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
}
#reponse2,#reponse3,#reponse4,#reponse5{
    background-color: #00fbe2;
}

