body{
    background-color: rgb(47, 131, 206);
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
}
#reponse2,#reponse3,#reponse4{
    background-color: #00fbe2;
    text-align: center;
    align-items: center;
    /* width: 600px;
    height: 300px;
    border: 1px solid black;
    padding: auto;
    margin: auto;
    overflow-y: scroll;
    overflow-x: auto; */
}

